.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*.nro
*.elf
*.npdm
*.nso
*.nsp
/Sources/SwitchRPC/.build
/Sources/SwitchRPCConfig/.build
*.nacp
SwitchRPC.zip
/.swiftpm
Sources/SwitchRPCConfig/.gdbinit
/Sources/SwitchRPC.bak/.build
/Sources/SwitchRPC/build
